{% if is_preview %}
  <h4 class="preview-title">CTA block</h4>
{% endif %}

<section class="m-entity m-entity__cta">
  {% include "/atoms/button.twig" with {
    button: fields.button,
    classes: [
      'a-btn'
    ]
  } %}
</section>
