{#
/**
 * Block Name: FAQs
 */
#}

<section class="m-entity m-entity--accordion">
  <div class="js-accordion">
    {% for row in fields.faqs %}
      <h3 class="js-accordion__header">{{ row.question }}</h3>
      <div class="js-accordion__panel">
        {{ row.answer }}
      </div>
    {% endfor %}
  </div>
</section>