{% if is_preview %}
  <h4 class="preview-title">Contact info</h4>
{% endif %}

<div class="m-contact">
  {% if fields.title %}
    <h3>{{ fields.title }}</h3>
  {% endif %}

  {% if fields.address %}
    {{ fields.address }}
  {% endif %}

  {% if fields.links %}
    <div class="m-contact__links">
      {% for link in fields.links %}
        {% include "/atoms/button.twig" with {
          button: link.link,
        } %}
      {% endfor %}
    </div>
  {% endif %}
  
</div>
