<header class="o-header" aria-label="Site header">
  <div class="grid">
    <div class="col-sm-12 col-bleed-y">
      
      <div class="o-header__inner">
      
        <a class="o-header__logo" href="{{site.url}}" rel="home" aria-label="{{ site.name }}" title="{{ site.name }}">
          {% include 'img/apac-logo.svg' ignore missing %}
        </a>

        <nav class="m-nav m-nav--main" role="navigation">
          {% include "/molecules/menu.twig" with {'items': mainnav.get_items} %}
        </nav>

        <button class="a-search-button" aria-label="Toggle search bar" type="button">
          <span>Search</span>
          {% include 'img/search.svg' ignore missing %}
          {% include 'img/close.svg' ignore missing %}
        </button>
        
        <button class="a-nav-toggle" title="Toggle Nav" aria-label="Toggle menu" type="button">
          Menu
          <span class="open">
            {% include 'img/menu.svg' ignore missing %}
          </span>
          <span class="close">
            {% include 'img/close.svg' ignore missing %}
          </span>
        </button>

      </div>

    </div>
  </div>
</header>
