/**
 * ----------------------
 * Un.titled
 * Molecules - Image & Text
 * ----------------------
 */

&__image-text {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: $bump/1.5;
  align-items: center;

  &-alt {
    grid-template-columns: 1fr 40%;

    img {
      order: 2;
    }
  }

  @include media('<md') {
    grid-template-columns: 1fr;
    gap: $bump/2;
  }
}
