/**
 * ----------------------
 * Un.titled
 * Molecules - Quotes
 * ----------------------
 */

/**
 * Config
 */

/**
 * Styles
 */

&__quote {
  blockquote {
    @include font-title;
    margin: 0;
    padding: 0 0 $bump/2;
    @include ms-respond(font-size, 1);

    @include media('<sm') {
      @include ms-respond(font-size, 0);
    }

    p {
      margin-bottom: 0;
    }
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  cite {
    @include font-body;
    font-style: normal;

    .name {
      @include font-bold;
    }
  }
}
