<aside class="m-emmsg" aria-label="Sitewide message">
  <div class="grid justify-center">
    <div class="col-12">

      {{ options.message }}
      
      <button class="m-emmsg__close" title="Hide message" aria-label="Close emergency message" type="button">{% include "img/close.svg" %}</button>

    </div>
  </div>
</aside>
