{% if post.get_field('related_content') %}
  <section class="m-related">

    <div class="grid">
      <div class="col-sm-12">
          {% if post.get_field('title') %}
            <h3>{{ post.get_field('title')}}</h3>
          {% endif %}

          <div class="a-grid a-grid--4">
            {% for content in post.get_field('related_content') %}
              {% include "/organisms/teaser.twig" with {
                teaser: content.page
              } %}
            {% endfor %}
          </div>
      </div>
    </div>
  
  </section>
{% endif %}