{% if is_preview %}
  <h4 class="preview-title">Listing Archive</h4>
{% endif %}

{% if not is_preview %}

  {% if fields.archive_type == 'Stories' %}

    <section class="o-listing">
      <div class="grid">
        <div class="col-sm-12">
          
          <div id="root" data-postType="posts" data-primaryTaxo="categories" data-primaryLabel="Category" data-secondaryLabel="Year">
          </div>

        </div>
      </div>
    </section>

    {% include "/molecules/stories-signpost.twig" %}

  {% elseif fields.archive_type == 'What\'s on' %}

    <section class="o-listing">
      <div class="grid">
        <div class="col-sm-12">

          <div class="m-events m-events--{{ currentEvents|length }}">
            {% for event in currentEvents %}
              {% include "/organisms/teaser.twig" with {
                largeTitle: true,
                teaser: event,
                isBookable: true
              } %}
            {% endfor %}
          </div>

        </div>
      </div>
    </section>

    {% include "/molecules/wo-signpost.twig" %}

  {% elseif fields.archive_type == 'Events archive' %}

    <section class="o-listing">
      <div class="grid">
        <div class="col-sm-12">

          <div class="a-grid a-grid--4">
            {% for pastEvent in pastEvents %}
              {% include "/organisms/teaser.twig" with {
                largeTitle: true,
                teaser: pastEvent,
                isBookable: true
              } %}
            {% endfor %}
          </div>

          {% include 'atoms/pagination.twig' with { toPaginate: pastEventsPagination, pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}

        </div>
      </div>
    </section>

    {% include "/molecules/wo-signpost.twig" %}

  {% elseif fields.archive_type == 'Resources' %}

    <section class="o-listing">
      <div class="grid">
        <div class="col-sm-12">

          <div id="root" data-postType="resources" data-primaryTaxo="resourcetags" data-primaryLabel="Tags" data-cols="1">
          </div>

        </div>
      </div>
    </section>

    {% include "/molecules/stories-signpost.twig" %}

  {% else %}

    <section class="o-listing">
      <div class="grid">
        <div class="col-sm-12">
          
          <div id="root" data-postType="members" data-primaryTaxo="membertype" data-primaryLabel="Member Type" data-secondaryTaxo="regions" data-secondaryLabel="Regions">
          </div>

        </div>
      </div>
    </section>

    {% include "/molecules/members-signpost.twig" %}

  {% endif %}

{% endif %}
