{% if is_preview %}
  <h4 class="preview-title">Members panel</h4>
{% endif %}

<section class="m-members-panel grid" aria-label="{{ fields.title }}" {% if is_preview %}style="--membersHeight: 0;"{% endif %}>
  <div class="col-sm-12">
    
    <div class="m-members-panel__inner">

      <h2>{{ fields.title }}</h2>

      {% if fields.copy %}
        {{ fields.copy }}
      {% endif %}

      {% if fields.button %}
        {% include "/atoms/button.twig" with {
          button: fields.button,
          classes: [
            'a-btn'
          ]
        } %}
      {% endif %}

      {% if fields.link %}
        {% include "/atoms/button.twig" with {
          button: fields.link,
        } %}
      {% endif %}            

    </div>

  </div>
</section>