{% if is_preview %}
  <h4 class="preview-title">Stories panel</h4>
{% endif %}

<section class="m-entity m-stories" aria-label="{{ fields.title }}">

  <div class="m-stories__copy">
    <h2>{{ fields.title }}</h2>

    {% if fields.copy %}
      {{ fields.copy }}
    {% endif %}
  </div>

  <div class="grid">
    <div class="col-sm-12">
      
      <div class="m-stories__posts a-grid a-grid--4">
        {% for post in posts %}
          {% include "/organisms/teaser.twig" with {
            teaser: post
          } %}
        {% endfor %}
      </div>
      
    </div>
  </div>

  {% if fields.link %}
    <div class="m-stories__copy">
      {% include "/atoms/button.twig" with {
        button: fields.link,
      } %}
    </div>
  {% endif %}

</section>