{% if is_preview %}
  <h4 class="preview-title">Signpost</h4>
{% endif %}

<section aria-label="{{ fields.title }}">

  {% include "/molecules/signpost.twig" with {
    full: true,
    content: {
      title: fields.title,
      copy: fields.copy,
      button: fields.button,
      image: fields.image,
      imageCaption: fields.image_caption,
      inlineImage: fields.foreground_image,
      links: fields.links
    }
  } %}

</section>