{% if is_preview %}
  <h4 class="preview-title">Signposts</h4>
{% endif %}

<section class="grid" aria-label="Signposts">
  <div class="col-sm-12">
    
    <div class="m-signposts">

      {% for signpost in fields.signposts %}
        {% include "/molecules/signpost.twig" with {
          content: {
            title: signpost.title,
            copy: signpost.copy,
            button: signpost.button,
            links: signpost.links,
          }
        } %}
      {% endfor %}

    </div>

  </div>
</section>