/**
* ----------------------
* Un.titled
* Atoms - Skip link
* ----------------------
*/

/**
* Config
*/

/**
* Styling
*/
.a-skip-link {
  @include font-bold;
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  background-color: $c-secondary;
  color: $c-white;
  text-align: center;
  padding: $bump/2;
  z-index: 10;
  border: 0;
  outline: 0;

  &:focus,
  &:active {
    transform: translateY(0);
  }
}
